.App {
  margin-top: 30px;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.loading {
  text-align: center;
  margin-bottom: 30px;
}

.exchange-value {
  text-align: right;
}

.forex-column-right {
  display: flex;
  justify-content: center;
  border-left: 1px solid #333;
  padding-left: 0;
}

.btn-delete-currency {
  align-self: center;
  font-size: 1.5rem;
}

.forex-card {
  margin-bottom: 15px;
}

.forex-add-currency {
  margin-bottom: 120px;
}
